// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "../styles/theme";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.customerImageContainer {
  height: 50px;
  position: relative;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 50%;
  }
  @include media-breakpoint-up(md) {
    width: 50%;
  }
  @include media-breakpoint-up(lg) {
    width: 33%;
  }
  @include media-breakpoint-up(xl) {
    width: 25%;
  }
  @include media-breakpoint-up(xxl) {
    width: 20%;
  }
}
