// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "../../styles/theme";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.carouselitem {
  height: 40vh;
  @include media-breakpoint-up(md) {
    height: 60vh;
  }
  @include media-breakpoint-up(lg) {
    height: 80vh;
  }
}

.carouselitemwide {
  height: 70vw;
  @include media-breakpoint-up(md) {
    height: 500px;
  }
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  @include media-breakpoint-up(xl) {
    height: 600px;
  }
}
