// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "../../styles/theme";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.carouselitem {
  height: 450px;
  @include media-breakpoint-up(md) {
    height: 50vw;
  }
  @include media-breakpoint-up(lg) {
    height: 40vw;
  }
}

.carouselitemwide {
  height: 280px;
  @include media-breakpoint-up(sm) {
    height: 380px;
  }
  @include media-breakpoint-up(md) {
    height: 450px;
  }
  @include media-breakpoint-up(lg) {
    height: 550px;
  }
  @include media-breakpoint-up(xl) {
    height: 600px;
  }
}
