// Colores
$yellow: #fdcb0c;
$yellow-dark: shade-color($yellow, 30%);
$yellow-light: tint-color($yellow, 30%);

// Colores del tema
$primary: $yellow;

// Color del fondo
$body-bg: shade-color(white, 3%);

// Enlaces
$link-color: $yellow-dark;

// Tarjetas
$card-bg: $body-bg;
